@charset "UTF-8";
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("../fonts/Proxima-Nova-Semibold.eot");
  src: url("../fonts/Proxima-Nova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova-Semibold.woff2") format("woff2"), url("../fonts/Proxima-Nova-Semibold.woff") format("woff"), url("../fonts/Proxima-Nova-Semibold.ttf") format("truetype"), url("../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/Proxima-Nova-Light.eot");
  src: url("../fonts/Proxima-Nova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova-Light.woff2") format("woff2"), url("../fonts/Proxima-Nova-Light.woff") format("woff"), url("../fonts/Proxima-Nova-Light.ttf") format("truetype"), url("../fonts/Proxima-Nova-Light.svg#proxima_nova_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sebastiangonzalez';
  src: url("../fonts/sebastiangonzalez.eot?h920x3");
  src: url("../fonts/sebastiangonzalez.eot?h920x3#iefix") format("embedded-opentype"), url("../fonts/sebastiangonzalez.ttf?h920x3") format("truetype"), url("../fonts/sebastiangonzalez.woff?h920x3") format("woff"), url("../fonts/sebastiangonzalez.svg?h920x3#sebastiangonzalez") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a > * {
  margin: 0;
  padding: 0;
  -webkit-transition: 400ms;
          transition: 400ms;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: #d8444b;
}
a:hover, a > *:hover {
  color: #a0a0a0;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

ul {
  list-style: none outside;
}

ol {
  list-style-position: inside;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

.no-padding-r {
  padding-right: 1rem;
}
@media only screen and (min-width: 48em) {
  .no-padding-r {
    padding-right: 0px;
  }
}

/* -------------------------------------------------- */
/*  2 - BODY BASIC
/* -------------------------------------------------- */
html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: #ffffff;
  color: #242424;
  font-family: "proxima_nova_light";
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

::-webkit-selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

.wrap {
  box-sizing: border-box;
  max-width: 71.25em;
  margin: 0 auto;
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 1.563em;
  padding-left: 1.563em;
}
@media only screen and (min-width: 48em) {
  .container-fluid {
    padding-right: 2.875em;
    padding-left: 2.875em;
  }
}
@media only screen and (min-width: 62em) {
  .container-fluid {
    padding-right: 6.875em;
    padding-left: 6.875em;
  }
}
@media only screen and (min-width: 71.25em) {
  .container-fluid {
    padding-right: 5.625em;
    padding-left: 5.625em;
  }
}

/* -------------------------------------------------- */
/*  2.1 - CLEARFIX
/* -------------------------------------------------- */
.clear {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  width: 0;
}

.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  content: ".";
}

/* -------------------------------------------------- */
/*  2.2 - GENERAL
/* -------------------------------------------------- */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  margin-right: 20px;
}

img.alignright {
  margin-left: 20px;
}

.aligncenter {
  display: table;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

/* -------------------------------------------------- */
/*  2.3 - TYPOGRAPHY
/* -------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima_nova_semibold";
  overflow: hidden;
}

h1 {
  color: #242424;
  font-size: 4.25em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 0.64706em;
  margin-bottom: 0.32353em;
}
h1.blog-title {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 2.625em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
}
@media only screen and (min-width: 62em) {
  h1.blog-title {
    font-size: 3.375em;
    line-height: 1.25em;
    margin-top: 0px;
  }
}

h2 {
  color: #242424;
  font-size: 2.625em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.04762em;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 1.04762em;
  margin-bottom: 0.52381em;
}

h3 {
  color: #242424;
  font-size: 1.625em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.69231em;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 0.84615em;
  margin-bottom: 0.84615em;
}

h4 {
  color: #242424;
  font-size: 1em;
  font-family: "proxima_nova_light";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.375em;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}

h5 {
  color: #242424;
  font-size: 0.667em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
}

h6 {
  color: #242424;
  font-size: 0.444em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
}

p {
  font-family: "Noto Serif";
  font-size: 1em;
  margin-top: 1.125em;
  text-align: justify;
  line-height: 1.5;
}
@media only screen and (min-width: 62em) {
  p {
    font-size: 1.125em;
  }
}
p.light {
  font-weight: 300;
}
p.regular {
  font-weight: 400;
}
p.bold {
  font-weight: 700;
}
p.dropcap::first-letter {
  float: left;
  font-size: 5em;
  line-height: 70px;
  color: #d8444b;
  padding-right: 10px;
}
@media only screen and (min-width: 62em) {
  p.dropcap::first-letter {
    line-height: 80px;
  }
}
p b {
  font-weight: bold;
}
p i {
  font-style: italic;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: smaller;
}

sub {
  top: 0.4em;
}

/* -------------------------------------------------- */
/*  2.4 - FORMS
/* -------------------------------------------------- */
/* FormHack v1.1.0 (formhack.io) */
/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "proxima_nova_light";
  font-size: 1em;
  color: #242424;
  vertical-align: top;
  display: block;
  margin: 10px 0;
}

datalist {
  font-family: "proxima_nova_light";
  font-size: 1em;
}

label {
  display: block;
  margin: 10px 0;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  color: #464646;
  padding: 10px;
  padding-left: 20px;
  background-color: #f5f5f5;
  border-radius: 3px;
  border: 0px solid #242424;
  -webkit-transition: 400ms;
          transition: 400ms;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 50px;
  -webkit-appearance: none;
}

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto;
}

input[type="range"] {
  height: 50px;
  width: 100%;
  max-width: 400px;
}

input[type="file"] {
  min-height: 50px;
}

input[type="search"] {
  height: 50px;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}

/* Select ------------------ */
select {
  height: 50px;
}

select[multiple] {
  height: auto;
  min-height: 50px;
  padding: 0;
}
select[multiple] option {
  margin: 0;
  padding: 10px;
}

/* Fieldset ------------------ */
fieldset {
  padding: 10px 25px;
  border-radius: 3px;
  border: 0px solid #242424;
}

legend {
  padding: 0 5px;
  font-weight: 700;
}

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 50px;
  width: 100%;
  background-color: #d8444b;
  padding: 10px;
  cursor: pointer;
  color: #f5f5f5;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  border: 0px solid #242424;
  -webkit-transition: 800ms;
          transition: 800ms;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input[type="image"] {
  text-align: center;
  padding: 10px;
}

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: #e0e0e0;
  border-color: #242424;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #242424 solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #bf3643;
  color: #f5f5f5;
}

/* -------------------------------------------------- */
/*  2.5 - HEADER PAGE
/* -------------------------------------------------- */
/* HEADER */
header {
  width: 100%;
  position: absolute;
  z-index: 999;
}
header.black-bg {
  background: #242424;
  -webkit-transition: background 800ms;
          transition: background 800ms;
}
header .header-in {
  width: 100%;
}
header .header-in.header-fixed {
  margin: 0 auto;
}
@media only screen and (min-width: 71.25em) {
  header .header-in.header-fixed {
    max-width: 1040px;
  }
}
header .header-in.header-fixed .navigation {
  margin-top: 34px;
}
header .header-logo {
  height: 75px;
  width: 75px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 25px;
  float: left;
  -webkit-transition: none;
          transition: none;
}
@media only screen and (min-width: 48em) {
  header .header-logo {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
  }
}
header .header-logo:hover {
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  -ms-opacity: 0.75;
  -o-opacity: 0.75;
  opacity: 0.75;
}
header .header-logo-scroll {
  height: 60px;
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  -webkit-transition: none;
          transition: none;
}

/*MENU GENERAL*/
.navigation {
  display: none;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}
@media only screen and (min-width: 48em) {
  .navigation {
    display: block;
  }
}
.navigation ul#menu-desktop li {
  float: left;
  padding-right: 20px;
  margin-top: -6px;
}
.navigation ul#menu-desktop li a {
  color: #f5f5f5;
  font-size: 1em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
}
.navigation ul#menu-desktop li a span {
  color: #f5f5f5;
  font-size: 0.75em;
}
.navigation ul#menu-desktop li a:hover, .navigation ul#menu-desktop li a:hover span {
  color: #e0e0e0;
}
.navigation ul#menu-desktop li:last-child {
  padding-right: 0;
}

/*SEARCH MENU*/
.search-bar {
  height: auto;
  min-width: 30px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}
.search-bar input {
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
  opacity: 0;
  color: transparent;
  color: #f5f5f5;
  font-size: 1em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: left;
}
.search-bar input::-webkit-input-placeholder {
  color: transparent;
}
.search-bar input::-moz-placeholder {
  color: transparent;
}
.search-bar input:-ms-input-placeholder {
  color: transparent;
}
.search-bar input::placeholder {
  color: transparent;
}
.search-bar input:invalid {
  box-shadow: none;
}
.search-bar input:hover {
  border: none;
  box-shadow: none;
}
.search-bar input:focus, .search-bar input:valid {
  opacity: 1;
  width: 200px;
  border: none;
  outline: none;
  cursor: auto;
  background-color: transparent;
  color: #ffffff;
}
.search-bar input:focus::-webkit-input-placeholder, .search-bar input:valid::-webkit-input-placeholder {
  color: #f5f5f5;
}
.search-bar input:focus::-moz-placeholder, .search-bar input:valid::-moz-placeholder {
  color: #f5f5f5;
}
.search-bar input:focus:-ms-input-placeholder, .search-bar input:valid:-ms-input-placeholder {
  color: #f5f5f5;
}
.search-bar input:focus::placeholder, .search-bar input:valid::placeholder {
  color: #f5f5f5;
}

.icon-search {
  display: inline-block;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 4px;
  top: 0px;
  z-index: -1;
}
.icon-search:before {
  color: #ffffff;
  font-size: 0.75em;
  padding-top: 5px;
  display: block;
}

/* -------------------------------------------------- */
/*  2.6 - CONTENT BLOG
/* -------------------------------------------------- */
/* FOOTNOTE STYLES GENERATOR */
article .article-bottom p.footnote, .quote.important .author, .image p.footnote, section#suscribe form#suscribe-form p, footer p.footerInfo {
  color: #a0a0a0;
  font-size: 0.875em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

/* ENCABEZADO Y T├ìTULO BLOG */
#home-banner {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  display: block;
  margin: 0px auto;
  width: 100%;
  position: relative;
  padding-top: 1px;
  overflow: hidden;
  background-color: #a0a0a0;
  height: 340px;
}
@media only screen and (min-width: 62em) {
  #home-banner {
    height: 450px;
  }
}
#home-banner .header-content {
  position: relative;
  max-width: 960px;
  padding: 0 45px;
  box-sizing: border-box;
  display: table;
  margin: 0 auto;
  top: 35%;
}
@media only screen and (min-width: 62em) {
  #home-banner .header-content {
    top: 60%;
  }
}
#home-banner .header-content p {
  color: #FFFFFF;
  text-align: center;
  font-family: "proxima_nova_light";
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.05em;
}
#home-banner .header-content p b {
  font-weight: 700;
}

/*BARRA SUPERIOR ENTRADA BLOG*/
#info-entry {
  background-color: #242424;
  min-height: 90px;
  width: 100%;
  top: 0;
  z-index: 999;
}
@media only screen and (min-width: 62em) {
  #info-entry {
    min-height: 60px;
  }
}
#info-entry span {
  color: #f5f5f5;
  font-size: 1em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  padding: 18px 0;
  display: inline-block;
}
#info-entry span.entry-date {
  width: 100%;
  padding-bottom: 4px;
}
@media only screen and (min-width: 48em) {
  #info-entry span.entry-date {
    text-align: left;
  }
}
#info-entry span.entry-data {
  width: 100%;
  padding-top: 4px;
}
@media only screen and (min-width: 48em) {
  #info-entry span.entry-data {
    text-align: left;
  }
}
@media only screen and (min-width: 62em) {
  #info-entry span.entry-data {
    padding-top: 18px;
    float: right;
    text-align: right;
  }
}
#info-entry span.entry-data a {
  color: #f5f5f5;
}
#info-entry span.entry-data a:hover {
  color: #a0a0a0;
}

/* ARTICLE BLOCK STYLES */
article {
  padding-bottom: 3.75em;
}
article .content {
  padding-top: 30px;
}
article h2 {
  color: #242424;
  font-size: 1.77778em;
  font-family: "Noto Serif";
  font-weight: 700;
  text-transform: none;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 12px;
  text-align: left;
}
article .article-bottom p.footnote:before {
  height: 1px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 12px;
  display: block;
  content: "";
  background-color: #e0e0e0;
}
@media only screen and (min-width: 71.25em) {
  article .article-bottom p.footnote:before {
    height: 1px;
    width: 30%;
  }
}

/* QUOTATIONS */
.quote {
  margin: 2.5em 1.25em;
}
@media only screen and (min-width: 48em) {
  .quote {
    margin: 2.5em 0 2.5em 4.5em;
  }
}
@media only screen and (min-width: 71.25em) {
  .quote {
    margin: 2.5em 5em;
  }
}
.quote q {
  display: inline;
  color: #464646;
  font-size: 1.22222em;
  font-family: "Noto Serif";
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.quote q:before {
  content: open-quote;
}
.quote q:after {
  content: close-quote;
}
.quote.important {
  margin: 5.625em 1.25em 4.375em;
}
@media only screen and (min-width: 48em) {
  .quote.important {
    margin: 3.125em 0 4.375em 4.5em;
  }
}
@media only screen and (min-width: 71.25em) {
  .quote.important {
    margin: 3.125em 5em 4.375em 8.75em;
  }
}
.quote.important q:before {
  content: "\e906";
  position: absolute;
  color: #d8444b;
  font-family: "sebastiangonzalez";
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  left: 50%;
  margin-left: -40px;
  margin-top: -80px;
}
@media only screen and (min-width: 48em) {
  .quote.important q:before {
    left: initial;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -70px;
  }
}
.quote.important .author {
  float: right;
  margin-top: 10px;
}
.quote q:after {
  content: "''";
}

/* TITLE SECTION */
.title-section {
  height: 160px;
  width: auto;
  padding-top: 56px;
  padding-bottom: 56px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-section h2 {
  color: #464646;
  -ms-word-break: break-word;
  word-break: break-word;
  font-size: 2.75em;
  margin: 0px;
}
@media only screen and (min-width: 48em) {
  .title-section h2 {
    font-size: 3.375em;
  }
}

/* ENTRIES BLOCK */
section#entries {
  padding-bottom: 3.75em;
}

.block-entry {
  padding: 20px;
}
.block-entry .title-entries {
  height: 80px;
  padding-right: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 48em) {
  .block-entry .title-entries {
    height: 120px;
  }
}
@media only screen and (min-width: 71.25em) {
  .block-entry .title-entries {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.block-entry .title-entries h2 {
  margin: 0px;
  color: #464646;
  font-size: 2.25em;
  -ms-word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}
@media only screen and (min-width: 62em) {
  .block-entry .title-entries h2 {
    font-size: 2.625em;
  }
}
.block-entry h4 {
  margin-top: 0px;
  color: #a0a0a0;
}
.block-entry h4.btn {
  text-align: left;
  margin-top: 16px;
}

.entries-nav a {
  color: #e0e0e0;
}
.entries-nav a:hover {
  color: #d8444b;
}
.entries-nav .prev {
  display: none;
  height: 100px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  left: 5%;
  margin-top: 160px;
}
@media only screen and (min-width: 62em) {
  .entries-nav .prev {
    display: block;
  }
}
.entries-nav .prev:before {
  display: block;
  font-family: 'sebastiangonzalez';
  content: "\e902";
  font-size: 80px;
  text-align: center;
  line-height: 100px;
  margin-left: -14px;
  margin-top: -2px;
}
.entries-nav .next {
  display: none;
  height: 100px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  margin-top: 160px;
}
@media only screen and (min-width: 62em) {
  .entries-nav .next {
    display: block;
  }
}
.entries-nav .next:before {
  display: block;
  font-family: 'sebastiangonzalez';
  content: "\e903";
  font-size: 80px;
  text-align: center;
  line-height: 100px;
  margin-left: -14px;
  margin-top: -2px;
}

/*BLOG IMAGES*/
.image {
  padding: 20px 0;
  margin-right: -1.563em;
  margin-left: -1.563em;
}
@media only screen and (min-width: 48em) {
  .image {
    margin-right: -2.875em;
    margin-left: -2.875em;
  }
}
@media only screen and (min-width: 62em) {
  .image {
    margin-right: -6.875em;
    margin-left: -6.875em;
  }
}
@media only screen and (min-width: 71.25em) {
  .image {
    margin-left: -5.625em;
    margin-right: 0;
  }
}
.image p.footnote {
  padding-top: 8px;
  margin-left: 25px;
  margin-top: 0px;
}
@media only screen and (min-width: 48em) {
  .image p.footnote {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 71.25em) {
  .image p.footnote {
    margin-left: 0;
  }
}

/* SUSCRIBE BLOCK */
section#suscribe {
  background-color: #242424;
}
section#suscribe form#suscribe-form {
  padding: 62px 0;
}
@media only screen and (min-width: 30em) {
  section#suscribe form#suscribe-form {
    padding: 62px;
  }
}
@media only screen and (min-width: 71.25em) {
  section#suscribe form#suscribe-form {
    padding: 62px 110px;
  }
}
section#suscribe form#suscribe-form h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: none;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}
section#suscribe form#suscribe-form p {
  text-align: center;
  padding-top: 10px;
}
section#suscribe form#suscribe-form input {
  max-width: 100%;
}
section#suscribe form#suscribe-form button {
  max-width: 100%;
}

/* COMMENTS BLOCK */
section#comments {
  padding-bottom: 3.75em;
}

.comments-block .comment {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
}
.comments-block .comment .comment-head {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.comments-block .comment .comment-head .comment-user {
  float: left;
}
.comments-block .comment .comment-head .comment-user span {
  float: left;
  clear: left;
}
.comments-block .comment .comment-head .comment-user span.user-name {
  color: #464646;
  font-size: 1.125em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: left;
}
.comments-block .comment .comment-head .comment-user span.user-date {
  color: #a0a0a0;
  font-size: 0.875em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: left;
}
.comments-block .comment .comment-like {
  display: block;
  height: 56px;
  width: 28px;
  float: right;
  padding: 5px;
}
.comments-block .comment .comment-like .icon-heart, .comments-block .comment .comment-like .icon-arrow-up, .comments-block .comment .comment-like .icon-arrow-down {
  color: #e0e0e0;
  font-size: 1.125em;
  line-height: 1em;
  -webkit-transition: 600ms;
  transition: 600ms;
}
.comments-block .comment .comment-like .icon-heart:hover, .comments-block .comment .comment-like .icon-arrow-up:hover, .comments-block .comment .comment-like .icon-arrow-down:hover {
  color: #d8444b;
}
.comments-block .comment p {
  font-family: "proxima_nova_light";
  color: #464646;
  text-align: left;
}
.comments-block .comment h4 {
  margin-top: 0px;
  color: #a0a0a0;
}
.comments-block .comment h4.btn {
  text-align: left;
  margin-top: 16px;
  margin-bottom: 0px;
}

.comments-form-block h2 {
  padding-top: 25px;
  text-align: left;
  color: #464646;
}

/* FOOTER */
footer {
  background-color: #242424;
}
footer p.footerInfo {
  color: #464646;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
}
footer .preFooter {
  height: auto;
}
@media only screen and (min-width: 48em) {
  footer .preFooter {
    height: 200px;
  }
}
footer .preFooter ul {
  display: table;
  margin: 0 auto;
  padding-top: 62px;
}
footer .preFooter ul li {
  color: #f5f5f5;
  font-size: 1em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  letter-spacing: 0.05em;
  text-align: center;
  float: none;
  padding-right: 0;
  padding-bottom: 46px;
}
@media only screen and (min-width: 48em) {
  footer .preFooter ul li {
    float: left;
    padding-right: 40px;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 62em) {
  footer .preFooter ul li {
    padding-right: 80px;
  }
}
footer .preFooter ul li:last-child {
  padding-right: 0px;
}
footer .preFooter ul li a {
  color: #f5f5f5;
  padding: 20px;
}
footer .preFooter ul li a:hover {
  color: #a0a0a0;
}
footer .footer-logo {
  height: 120px;
  width: 120px;
  display: table;
  margin: 0 auto;
  -webkit-transition: 600ms;
          transition: 600ms;
}
footer .footer-logo:hover {
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  -ms-opacity: 0.75;
  -o-opacity: 0.75;
  opacity: 0.75;
}

/* ICON FONT */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'sebastiangonzalez';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
  content: "\e906";
}

.icon-chevron-left:before {
  content: "\e902";
}

.icon-chevron-right:before {
  content: "\e903";
}

.icon-chevron-up:before {
  content: "\e904";
}

.icon-chevron-down:before {
  content: "\e905";
}

.icon-logo-line:before {
  content: "\e900";
}

.icon-logo-fill:before {
  content: "\e901";
}

.icon-mail:before {
  content: "\e002";
}

.icon-lock:before {
  content: "\e007";
}

.icon-unlock:before {
  content: "\e008";
}

.icon-image:before {
  content: "\e010";
}

.icon-clock:before {
  content: "\e014";
}

.icon-camera:before {
  content: "\e017";
}

.icon-server:before {
  content: "\e022";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

.icon-search:before {
  content: "\e036";
}

.icon-zoom-in:before {
  content: "\e037";
}

.icon-zoom-out:before {
  content: "\e038";
}

.icon-location:before {
  content: "\e070";
}

.icon-location-2:before {
  content: "\e071";
}

.icon-map:before {
  content: "\e072";
}

.icon-head:before {
  content: "\e074";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-star:before {
  content: "\e093";
}

.icon-arrow-left:before {
  content: "\e094";
}

.icon-arrow-right:before {
  content: "\e095";
}

.icon-arrow-up:before {
  content: "\e096";
}

.icon-arrow-down:before {
  content: "\e097";
}

.icon-trash:before {
  content: "\e109";
}

.icon-plus:before {
  content: "\e114";
}

.icon-minus:before {
  content: "\e115";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

.icon-menu:before {
  content: "\e120";
}

/*# sourceMappingURL=alternative.css.map */