@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("../fonts/Proxima-Nova-Semibold.eot");
  src: url("../fonts/Proxima-Nova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova-Semibold.woff2") format("woff2"), url("../fonts/Proxima-Nova-Semibold.woff") format("woff"), url("../fonts/Proxima-Nova-Semibold.ttf") format("truetype"), url("../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/Proxima-Nova-Light.eot");
  src: url("../fonts/Proxima-Nova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova-Light.woff2") format("woff2"), url("../fonts/Proxima-Nova-Light.woff") format("woff"), url("../fonts/Proxima-Nova-Light.ttf") format("truetype"), url("../fonts/Proxima-Nova-Light.svg#proxima_nova_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
.black {
  color: #000000;
}

.black-bg {
  background-color: #000000;
}

.white {
  color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

.dark-grey {
  color: #242424;
}

.dark-grey-bg {
  background-color: #242424;
}

.grey {
  color: #464646;
}

.grey-bg {
  background-color: #464646;
}

.light-grey {
  color: #a0a0a0;
}

.light-grey-bg {
  background-color: #a0a0a0;
}

.near-white {
  color: #f5f5f5;
}

.near-white-bg {
  background-color: #f5f5f5;
}

.red {
  color: #d8444b;
}

.red-bg {
  background-color: #d8444b;
}

.light-red {
  color: #e7595b;
}

.light-red-bg {
  background-color: #e7595b;
}

/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Disable Mobile Webkit Highlights*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a > * {
  margin: 0;
  padding: 0;
  -webkit-transition: 400ms;
          transition: 400ms;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: #d8444b;
}
a:hover, a > *:hover {
  color: #a0a0a0;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

ul {
  list-style: none outside;
}

ol {
  list-style-position: inside;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* -------------------------------------------------- */
/*  2 - BODY BASIC
/* -------------------------------------------------- */
html {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #242424;
  font-family: "Noto Serif";
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

::-webkit-selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

/* -------------------------------------------------- */
/*  2.1 - CLEARFIX
/* -------------------------------------------------- */
.clear {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  width: 0;
}

.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  content: ".";
}

/* -------------------------------------------------- */
/*  2.2 - GENERAL
/* -------------------------------------------------- */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  margin-right: 20px;
}

img.alignright {
  margin-left: 20px;
}

.aligncenter {
  display: table;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

/* -------------------------------------------------- */
/*  2.3 - TYPOGRAPHY
/* -------------------------------------------------- */
/* FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima_nova_semibold";
}

h1 {
  color: #242424;
  font-size: 4.25em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}
h1.blog-title {
  color: #ffffff;
  font-size: 2.625em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
}

h2 {
  color: #242424;
  font-size: 2.625em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.04762em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}

h3 {
  color: #242424;
  font-size: 1.625em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.69231em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}

h4 {
  color: #242424;
  font-size: 1em;
  font-family: "proxima_nova_light";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.375em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}

h5 {
  color: #242424;
  font-size: 0.667em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}

h6 {
  color: #242424;
  font-size: 0.444em;
  font-family: "proxima_nova_semibold";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}

p {
  font-family: "Noto Serif";
  font-size: 1.125em;
  text-align: justify;
  line-height: 1.5;
}
p.light {
  font-weight: 300;
}
p.regular {
  font-weight: 400;
}
p.bold {
  font-weight: 700;
}
p.dropcap::first-letter {
  float: left;
  font-size: 5em;
  line-height: 80px;
  color: #d8444b;
  padding-right: 10px;
  margin-top: 5px;
}

/* -------------------------------------------------- */
/*  2.4 - FORMS
/* -------------------------------------------------- */
/* FormHack v1.1.0 (formhack.io) */
/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "proxima_nova_light";
  font-size: 1em;
  color: #242424;
  vertical-align: top;
  display: block;
  margin: 10px 0;
}

datalist {
  font-family: "proxima_nova_light";
  font-size: 1em;
}

label {
  display: block;
  margin: 10px 0;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  color: #464646;
  padding: 10px;
  padding-left: 20px;
  background-color: #f5f5f5;
  border-radius: 3px;
  border: 0px solid #242424;
  -webkit-transition: 400ms;
          transition: 400ms;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 50px;
  -webkit-appearance: none;
}

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto;
}

input[type="range"] {
  height: 50px;
  width: 100%;
  max-width: 400px;
}

input[type="file"] {
  min-height: 50px;
}

input[type="search"] {
  height: 50px;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}

/* Select ------------------ */
select {
  height: 50px;
}

select[multiple] {
  height: auto;
  min-height: 50px;
  padding: 0;
}
select[multiple] option {
  margin: 0;
  padding: 10px;
}

/* Fieldset ------------------ */
fieldset {
  padding: 10px 25px;
  border-radius: 3px;
  border: 0px solid #242424;
}

legend {
  padding: 0 5px;
  font-weight: 700;
}

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 50px;
  width: 100%;
  background-color: #d8444b;
  padding: 10px;
  cursor: pointer;
  color: #f5f5f5;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  border: 0px solid #242424;
  -webkit-transition: 800ms;
          transition: 800ms;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input[type="image"] {
  text-align: center;
  padding: 10px;
}

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: #e0e0e0;
  border-color: #242424;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #242424 solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #bf3643;
  color: #f5f5f5;
}

/* -------------------------------------------------- */
/*  2.5 - CONTENT BLOG
/* -------------------------------------------------- */
/* FOOTNOTE STYLES GENERATOR */
.quote.important .author, article .article-bottom p.footnote, .image p.footnote, section#suscribe form#suscribe-form p {
  color: #a0a0a0;
  font-size: 0.75em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* QUOTATIONS */
.quote {
  margin: 40px 170px;
}
.quote q {
  display: inline;
  color: #464646;
  font-size: 1.22222em;
  font-family: "Noto Serif";
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.quote q:before {
  content: open-quote;
}
.quote q:after {
  content: close-quote;
}
.quote.important {
  margin: 50px 170px 70px 238px;
}
.quote.important q:before {
  content: "''";
  position: absolute;
  color: #d8444b;
  font-family: "Noto Serif";
  font-size: 6.875em;
  font-weight: 400;
  font-style: italic;
  line-height: 80px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: -1px;
  margin-left: -75px;
}
.quote.important .author {
  float: right;
}
.quote q:after {
  content: "''";
}

/* ARTICLE BLOCK STYLES */
article {
  margin-top: 60px;
  margin-bottom: 60px;
}
article p, article h2 {
  margin-right: 70px;
  margin-left: 70px;
}
@media only screen and (min-width: 48em) {
  article p, article h2 {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 62em) {
  article p, article h2 {
    margin-right: 40px;
    margin-left: 40px;
  }
}
article h2 {
  color: #242424;
  font-size: 1.77778em;
  font-family: "Noto Serif";
  font-weight: 700;
  text-transform: none;
  line-height: 1.29412em;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 12px;
  text-align: left;
}
article .article-bottom p.footnote:before {
  height: 1px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 12px;
  display: block;
  content: "";
  background-color: #e0e0e0;
}
@media only screen and (min-width: 48em) {
  article .grid {
    padding: 0;
  }
}
@media only screen and (min-width: 62em) {
  article .grid {
    padding: 0;
  }
}
@media only screen and (min-width: 48em) {
  article .col-1-1 {
    padding-right: 0;
  }
}
@media only screen and (min-width: 62em) {
  article .col-1-1 {
    padding-right: 0;
  }
}

/* TITLE SECTION */
.title-section {
  height: 100px;
  width: auto;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 20px;
  margin-bottom: 20px;
}
.title-section h2 {
  color: #464646;
  text-align: left;
}

/*BLOG IMAGES*/
.image {
  padding: 20px 0;
  margin: 0px;
}
.image img {
  padding-right: 70px;
}
@media only screen and (min-width: 48em) {
  .image img {
    padding-right: 0px;
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
  }
}
@media only screen and (min-width: 62em) {
  .image img {
    padding-right: 0px;
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
  }
}
.image p.footnote {
  padding-top: 8px;
  margin: 0px;
}

/* SUSCRIBE BLOCK */
section#suscribe {
  background-color: #242424;
}
section#suscribe form#suscribe-form {
  padding: 65px 170px;
}
@media only screen and (min-width: 48em) {
  section#suscribe form#suscribe-form {
    padding: 65px 20px;
  }
}
@media only screen and (min-width: 62em) {
  section#suscribe form#suscribe-form {
    padding: 65px 60px;
  }
}
section#suscribe form#suscribe-form h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "proxima_nova_light";
  font-weight: 300;
  text-transform: none;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-align: center;
}
section#suscribe form#suscribe-form p {
  text-align: center;
  padding-top: 10px;
}
section#suscribe form#suscribe-form input {
  max-width: 100%;
}
section#suscribe form#suscribe-form button {
  max-width: 100%;
}

/* COMMENTS BLOCK */
/* FOOTER */
footer {
  background-color: #242424;
}
footer .footer {
  height: 300px;
}
footer p.footerInfo {
  color: #464646;
  font-size: 0.75em;
  font-family: "proxima_nova_light";
  text-align: center;
}
footer .preFooter {
  height: 200px;
}
footer .preFooter ul {
  display: table;
  margin: 0 auto;
  padding-top: 85px;
}
footer .preFooter ul li {
  color: #f5f5f5;
  font-family: "proxima_nova_light";
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  float: left;
  padding-right: 80px;
}
footer .preFooter ul li:last-child {
  padding-right: 0px;
}
footer .preFooter ul li a {
  color: #f5f5f5;
}
footer .preFooter ul li a:hover {
  color: #a0a0a0;
}
footer .logoFooter {
  height: 120px;
  width: 120px;
  font-size: 7.5em;
  color: #a0a0a0;
  display: table;
  margin: 0 auto;
  margin-bottom: 50px;
}
footer .logoFooter:hover {
  color: #FFFFFF;
}

.box {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  background-color: #550000;
  margin-right: 20px;
}
.box.dark-grey {
  background-color: #242424;
}
.box.grey {
  background-color: #464646;
}
.box.light-grey {
  background-color: #a0a0a0;
}
.box.near-white {
  background-color: #f5f5f5;
}
.box.red {
  background-color: #d8444b;
}
.box.light-red {
  background-color: #e7595b;
}

.big-box {
  width: 400px;
  height: 100px;
  display: table;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */