@charset "UTF-8";
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("../fonts/Proxima-Nova-Semibold.eot");
  src: url("../fonts/Proxima-Nova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova-Semibold.woff2") format("woff2"), url("../fonts/Proxima-Nova-Semibold.woff") format("woff"), url("../fonts/Proxima-Nova-Semibold.ttf") format("truetype"), url("../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/Proxima-Nova-Light.eot");
  src: url("../fonts/Proxima-Nova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-Nova-Light.woff2") format("woff2"), url("../fonts/Proxima-Nova-Light.woff") format("woff"), url("../fonts/Proxima-Nova-Light.ttf") format("truetype"), url("../fonts/Proxima-Nova-Light.svg#proxima_nova_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
.black {
  color: #000000;
}

.black-bg {
  background-color: #000000;
}

.white {
  color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

.dark-grey {
  color: #2d2d2d;
}

.dark-grey-bg {
  background-color: #2d2d2d;
}

.grey {
  color: #464646;
}

.grey-bg {
  background-color: #464646;
}

.light-grey {
  color: #a0a0a0;
}

.light-grey-bg {
  background-color: #a0a0a0;
}

.near-white {
  color: #f5f5f5;
}

.near-white-bg {
  background-color: #f5f5f5;
}

.red {
  color: #d8444b;
}

.red-bg {
  background-color: #d8444b;
}

.light-red {
  color: #e7595b;
}

.light-red-bg {
  background-color: #e7595b;
}

/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Disable Mobile Webkit Highlights*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a > * {
  margin: 0;
  padding: 0;
  -webkit-transition: 400ms;
          transition: 400ms;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: #d8444b;
}
a:hover, a > *:hover {
  color: #a0a0a0;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

ul {
  list-style: none outside;
}

ol {
  list-style-position: inside;
}

/* -------------------------------------------------- */
/*  2 - BODY BASIC
/* -------------------------------------------------- */
html {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #2d2d2d;
  font-family: "Noto Serif";
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

::-webkit-selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #e7595b;
  color: #ffffff;
  text-shadow: none;
}

/* -------------------------------------------------- */
/*  2.1 - CLEARFIX
/* -------------------------------------------------- */
.clear {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  width: 0;
}

.clearfix:after {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  content: ".";
}

/* -------------------------------------------------- */
/*  2.2 - GENERAL
/* -------------------------------------------------- */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  margin-right: 20px;
}

img.alignright {
  margin-left: 20px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

/* -------------------------------------------------- */
/*  2.3 - TYPOGRAPHY
/* -------------------------------------------------- */
/* FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima_nova_semibold";
  text-transform: uppercase;
}

p {
  font-family: "Noto Serif";
  font-size: 1.125em;
  text-align: justify;
  line-height: 1.5;
}
p.light {
  font-weight: 300;
}
p.regular {
  font-weight: 400;
}
p.bold {
  font-weight: 700;
}

/* -------------------------------------------------- */
/*  2.4 - FORMS
/* -------------------------------------------------- */
/* FormHack v1.1.0 (formhack.io) */
/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "proxima_nova_light";
  font-size: 18px;
  color: #2d2d2d;
  vertical-align: top;
  display: block;
  margin: 10px 0;
}

datalist {
  font-family: "proxima_nova_light";
  font-size: 18px;
}

label {
  display: block;
  margin: 10px 0;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 3px;
  border: 0px solid #2d2d2d;
  -webkit-transition: 800ms;
          transition: 800ms;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 40px;
  -webkit-appearance: none;
}

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto;
}

input[type="range"] {
  height: 40px;
  width: 100%;
  max-width: 400px;
}

input[type="file"] {
  min-height: 40px;
}

input[type="search"] {
  height: 40px;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}

/* Select ------------------ */
select {
  height: 40px;
}

select[multiple] {
  height: auto;
  min-height: 40px;
  padding: 0;
}
select[multiple] option {
  margin: 0;
  padding: 8px;
}

/* Fieldset ------------------ */
fieldset {
  padding: 10px 25px;
  border-radius: 3px;
  border: 0px solid #2d2d2d;
}

legend {
  padding: 0 5px;
  font-weight: 700;
}

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 40px;
  width: 100%;
  max-width: 200px;
  background-color: #d8444b;
  padding: 8px;
  cursor: pointer;
  color: #f5f5f5;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  border: 0px solid #2d2d2d;
  -webkit-transition: 800ms;
          transition: 800ms;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input[type="image"] {
  text-align: center;
  padding: 8px;
}

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: rgba(160, 160, 160, 0.8);
  border-color: #2d2d2d;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #2d2d2d solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #e7595b;
  color: #f5f5f5;
}

/* -------------------------------------------------- */
/*  2.5 - DROPCAPS
/* -------------------------------------------------- */
.dropcap::first-letter {
  float: left;
  font-family: "Noto Serif";
  font-size: 5em;
  font-weight: 400;
  line-height: 80px;
  color: #d8444b;
  padding-right: 10px;
  margin-top: 5px;
}

/*Quotations*/
q {
  display: inline;
  color: #464646;
  font-family: "Noto Serif";
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

/*Quotations Important*/
.important {
  margin: 50px 20px 70px 85px;
}
.important q:before {
  content: "''";
  position: absolute;
  color: #d8444b;
  font-family: "Noto Serif";
  font-size: 6.875em;
  font-weight: 400;
  font-style: italic;
  line-height: 80px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: -1px;
  margin-left: -75px;
}
.important q:after {
  content: "''";
}

.quote {
  margin: 50px 20px;
}

.author {
  float: right;
  font-size: 1em;
  font-weight: 300;
  color: #a0a0a0;
  line-height: 1.4;
}

/* ARTICLE STYLES */
article p {
  margin-right: 70px;
  margin-left: 70px;
}
article .pie p {
  color: #a0a0a0;
  font-family: "proxima_nova_light";
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.4;
}
article .pie p:before {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #a0a0a0;
  margin-top: 15px;
}

/*Im├ígenes blog*/
.image {
  padding: 20px 0;
  margin-right: -30px;
  margin-left: -20px;
}
.image p {
  margin: 0px;
  color: #a0a0a0;
  font-family: "proxima_nova_light";
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.4;
  padding-left: 20px;
}

.box {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  background-color: #550000;
  margin-right: 20px;
}
.box.dark-grey {
  background-color: #2d2d2d;
}
.box.grey {
  background-color: #464646;
}
.box.light-grey {
  background-color: #a0a0a0;
}
.box.near-white {
  background-color: #f5f5f5;
}
.box.red {
  background-color: #d8444b;
}
.box.light-red {
  background-color: #e7595b;
}

.big-box {
  width: 400px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */