// MIXINS

@mixin speed-slow {
    transition: 800ms;
}

@mixin speed-normal {
    transition: 400ms;
}

@mixin speed-fast {
    transition: 200ms;
}

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin body-reset {
    @include reset;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@mixin clearfix {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}