// TITLES AND PARAGRAPHS
// Tipography
$proxima-nova-sb: 'proxima_nova_semibold';
$proxima-nova-light: 'proxima_nova_light';
$noto-serif: 'Noto Serif';

// Weights
$light: 300;
$regular: 400;
$bold: 700;

// Line Height
$body-line: 1em;

// Sizes
$body-size: 18px;
$footer-size: 1em/2;

// Colores
$black: #000000;
$white: #ffffff;

$dark-grey: #2d2d2d;
$grey: #464646;
$light-grey: #a0a0a0;
$near-white: #f5f5f5;
$red: #d8444b;
$light-red: #e7595b;
$alt-red: #F46969;