// VARIABLES

// Tipography
$proxima-nova-sb: 'proxima_nova_semibold';
$proxima-nova-light: 'proxima_nova_light';
$noto-serif: 'Noto Serif';

// Constants
$golden: 1.5; //Rounded down 1.61803398875

// Weights
$light: 300;
$regular: 400;
$bold: 700;

// Line Height
$body-line: 1em;

// Letter spacing
$spacing: 0.05em;

// Sizes
$body-size: 16px;
$footer-size: 1em/2;

// Colors
$black: #000000;
$white: #ffffff;

$dark-grey: #2d2d2d;
$grey: #464646;
$light-grey: #a0a0a0;
$very-light-grey: #e0e0e0;
$near-white: #f5f5f5;
$dark-red: #bf3643;
$red: #d8444b;
$light-red: #e7595b;
$alt-red: #F46969;

// Screen sizes
$small-width: 30em; // 480px
$mobile-width: 48em; // 768px
$tablet-width: 62em; // 992px
$desktop-width: 75em; // 1200px

$small-margin: 1.563em; // 25px
$mobile-margin: 2.875em; // 46px
$tablet-margin: 6.875em; // 110px
$desktop-margin: 5.625em; // 90px

// Titles
$blog-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 3.375em,
    'color': $dark-grey,
    'up': true
);

$h1-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 3.375em,
    'color': $dark-grey,
    'up': true
);

$h2-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 2.25em,
    'color': $dark-grey,
    'up': true
);

$h3-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 1.5em,
    'color': $dark-grey,
    'up': true
);

$h4-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 1em,
    'color': $dark-grey,
    'up': true
);

$h5-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 0.667em,
    'color': $dark-grey,
    'up': true
);

$h6-title: (
    'font': $proxima-nova-sb,
    'weight': $regular,
    'size': 0.444em,
    'color': $dark-grey,
    'up': true
);

$entry-title: (
    'font': $noto-serif,
    'weight': $bold,
    'size': em(32px,18px),
    'color': $dark-grey,
    'up': false
);

$suscribe-title: (
    'font': $proxima-nova-light,
    'weight': $light,
    'size': em(26px,18px),
    'color': $white,
    'up': false
);
