@import "bourbon/bourbon";
@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

// Fuentes
 @font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/Proxima-Nova-Semibold.eot');
    src: url('../fonts/Proxima-Nova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Semibold.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold.woff') format('woff'),
         url('../fonts/Proxima-Nova-Semibold.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/Proxima-Nova-Light.eot');
    src: url('../fonts/Proxima-Nova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Light.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Light.woff') format('woff'),
         url('../fonts/Proxima-Nova-Light.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Light.svg#proxima_nova_light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'sebastiangonzalez';
    src:url('../fonts/sebastiangonzalez.eot?h920x3');
    src:url('../fonts/sebastiangonzalez.eot?h920x3#iefix') format('embedded-opentype'),
        url('../fonts/sebastiangonzalez.ttf?h920x3') format('truetype'),
        url('../fonts/sebastiangonzalez.woff?h920x3') format('woff'),
        url('../fonts/sebastiangonzalez.svg?h920x3#sebastiangonzalez') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    @include body-reset;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }

*, *:after, *:before {
    @include reset;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a, a > * {
    @include reset;
    @include speed-normal;
    outline: none;
    text-decoration: none;
    background: transparent;
    vertical-align: baseline;
    color: $red;
    &:hover {
        color: $light-grey;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

ul { list-style: none outside; }

ol { list-style-position: inside; }


img {
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.no-padding-r {
    padding-right: 1rem;

    @include mobile {
        padding-right: 0px;
    }
}

// .no-padding-l {
//     padding-left: 0px;
// }

// @include small-mobile {
//     .no-padding-r, .no-padding-l {
//         padding-left: 0px;
//         padding-right: 0px;
//     }
// }


/* -------------------------------------------------- */
/*  2 - BODY BASIC
/* -------------------------------------------------- */

html {
    height: 100%;
}

html, body {
    @include body-reset;
}

body {
    background-color: $white;
    color: $dark-grey;
    font: {
        family: $proxima-nova-light;
        size: $body-size;
        weight: $regular;
    }
    line-height: $body-line;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

::-webkit-selection {
    background-color: $light-red;
    color: $white;
    text-shadow: none;
}

::selection {
    background-color: $light-red;
    color: $white;
    text-shadow: none;
}



// * {
//     background: rgba(150,150,150,0.2) !important;
// }




.wrap {
    box-sizing: border-box;
    max-width: $desktop-width;
    margin: 0 auto;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    // padding-right: 1.563em;
    // padding-left: 1.563em;
    @include padding(null $small-margin);

    @include mobile {
        @include padding(null $mobile-margin);
    }
    @include tablet {
        @include padding(null $tablet-margin);
    }
    @include desktop {
        @include padding(null $desktop-margin);
    }

    // @include small-mobile {
    //     @include padding(null 2.875em);
    // }
    // @include mobile {
    //     @include padding(null 6.875em);
    // }
    // @include tablet {
    //     @include padding(null 5.625em);
    // }


}


/* -------------------------------------------------- */
/*  2.1 - CLEARFIX
/* -------------------------------------------------- */

.clear {
    @include clearfix;
    overflow: hidden;
    width: 0;
}

.clearfix:after {
    @include clearfix;
    content: ".";
}


/* -------------------------------------------------- */
/*  2.2 - GENERAL
/* -------------------------------------------------- */

.align-center { text-align: center; }
.align-left   { text-align: left;   }
.align-right  { text-align: right;  }
.alignleft  { float: left;  }
.alignright { float: right; }

img.alignleft { margin-right: 20px; }
img.alignright { margin-left: 20px; }

.aligncenter {
    @include center;
}

.hide       { display: none;  }
.show       { display: block; }
.invisible  { visibility: hidden; }
.affix      { position: fixed; }

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}


/* -------------------------------------------------- */
/*  2.3 - TYPOGRAPHY
/* -------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {

    font: {
        family: $proxima_nova_sb;
    }

    // Títulos con tamaño no apto en móviles, se parten
    // word-break: break-all;
    // @include smallmobile {
    //     word-break: keep-all;
    // }
    overflow: hidden;
    // text-transform: uppercase;
}

h1 {
    @include title($h1-title...);
    margin-top: $h1-margin-top;
    margin-bottom: $h1-margin-bottom;

    &.blog-title {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        @include title($blog-title...);

        @include tablet {
            font-size: 3.375em;
            line-height: 1.25em;
            margin-top: 0px;
        }
    }
}

h2 {
    @include title($h2-title...);
    margin-top: $h2-margin-top;
    margin-bottom: $h2-margin-bottom;
}

h3 {
    @include title($h3-title...);
    margin-top: $h3-margin-top;
    margin-bottom: $h3-margin-bottom;
}

h4 {
    @include title($h4-title...);
    margin-top: $h4-margin-top;
    margin-bottom: $h4-margin-bottom;
}

h5 {
    @include title($h5-title...);
}

h6 {
    @include title($h6-title...);
}


p {
    font: {
        family: $noto-serif;
        size: 1em;
    }

    @include tablet {
        font-size: $text-size;
    }

    margin-top: $text-size;

      // @include tablet {
      //   font-size: 40px;
      // }

      // @include desktop {
      //   font-size: 60px;
      // }

    text-align: justify;
    line-height: $golden;

    &.light {
        font-weight: $light;
    }
    &.regular {
        font-weight: $regular;
    }
    &.bold {
        font-weight: $bold;
    }

    &.dropcap::first-letter {
        float: left;
        font: {
            // size: 5em;
            size: em(90px,18px);
            // size: 90px;
        }
        line-height: 70px;

        @include tablet {
            line-height: 80px;
        }


        color: $red;
        padding-right: 10px;
    }

    b { font-weight: bold; }

    i { font-style: italic; }

}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: smaller;
}
sub { top: 0.4em; }


/* -------------------------------------------------- */
/*  2.4 - FORMS
/* -------------------------------------------------- */

@import "formhack.scss";


/* -------------------------------------------------- */
/*  2.5 - HEADER PAGE
/* -------------------------------------------------- */
/* HEADER */
header {
    width: 100%;
    position: absolute;
    z-index: 999;

    // transition: background 200ms;


    &.black-bg {
        background: $dark-grey;
        transition: background 800ms;
    }


    .header-in {
        width: 100%;


        &.header-fixed {
            // @include tablet {
            //     max-width: 940px;
            // }
            @include desktop {
                max-width: 1040px;
            }
            margin: 0 auto;
            // transition-timing-function: ease-out;
            // transition: 600ms;

            .navigation {
                margin-top: 34px;
            }
        }
    }


    .header-logo {
        @include size(75px);
        @include margin(25px null 10px 25px);
        float: left;

        @include mobile {
            @include margin(40px null 10px 40px);
        }

        // transition: 600ms;
        transition: none;

        &:hover {
            -webkit-opacity: 0.75;
            -moz-opacity: 0.75;
            -ms-opacity: 0.75;
            -o-opacity: 0.75;
            opacity: 0.75;
        }
    }

    .header-logo-scroll {
        @include size(60px);
        @include margin(10px null 10px 25px);
        // float: left;

        // transition: 600ms;
        transition: none;

        // &:hover {
        //     -webkit-opacity: 0.75;
        //     -moz-opacity: 0.75;
        //     -ms-opacity: 0.75;
        //     -o-opacity: 0.75;
        //     opacity: 0.75;
        // }
    }

}

/*MENU GENERAL*/
.navigation {

    display: none;

    @include mobile {
        display: block;
    }

    float: right;
    margin-top: 40px;
    margin-right: 40px;


    // nav#navigation {


    // }

    ul#menu-desktop {
        li {
            float: left;
            padding-right: 20px;
            margin-top: -6px;

            a {
                @include title($menu...);
                // text-transform: uppercase;
                // font-size: em(16px);
                // font-family: 'proxima_nova_light';
                // color: $near-white;
            }
            a span {
                color: $near-white;
                font-size: em(12px);
            }

            a:hover, a:hover span {
                color: $very-light-grey;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

/*SEARCH MENU*/
.search-bar {
    height: auto;
    min-width: 30px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    input {
        height: 24px;
        width: 24px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        // font-size: 14px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.5s ease-out;
        opacity: 0;
        color: transparent;

        @include title($menu...);
        text-align: left;

        &::placeholder {
            color: transparent;
        }

        &:invalid {
            box-shadow: none;
        }

        &:hover {
            border: none;
            box-shadow: none;
        }

        &:focus, &:valid {
            opacity: 1;
            width: 200px;
            border: none;
            outline: none;
            cursor: auto;
            background-color: transparent;
            color: $white;

            &::placeholder {
                color: $near-white;
            }

        }
    }
}

.icon-search {
    display: inline-block;
    @include size(24px);
    position: absolute;
    right: 4px;
    top: 0px;
    z-index: -1;

    &:before {
        color: $white;
        font-size: em(12px);
        padding-top: 5px;
        display: block;
    }
}


/* -------------------------------------------------- */
/*  2.6 - CONTENT BLOG
/* -------------------------------------------------- */

/* FOOTNOTE STYLES GENERATOR */
%footnote {
    color: $light-grey;
    font: {
        size: em(14px);
        family: $proxima-nova-light;
        weight: $light;
    }
    line-height: 1.25;
    letter-spacing: $spacing;
}


/* ENCABEZADO Y TÍTULO BLOG */
#home-banner {
    // background-image: url(../img/bg02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

    display: block;
    margin: 0px auto;
    width: 100%;
    position: relative;
    padding-top: 1px;
    overflow: hidden;
    background-color: $light-grey;

    height: 340px;

    @include tablet {
        height: 450px;
    }

    .header-content {
        position: relative;
        max-width: 960px;
        padding: 0 45px;
        box-sizing: border-box;
        // margin: 0 auto;

        @include center;

        top: 35%;

        @include tablet {
            top: 60%;
        }

        p {
            color: #FFFFFF;
            text-align: center;

            font: {
                family: $proxima-nova-light;
                weight: $light;
                size: $body-size;
            }
            letter-spacing: $spacing;
            b {
                font-weight: $bold;
            }
        }

    }

}


/*BARRA SUPERIOR ENTRADA BLOG*/
#info-entry {
    background-color: $dark-grey;
    min-height: 90px;
    @include tablet {
        min-height: 60px;
    }

    width: 100%;
    top: 0;
    z-index: 999;

    span {
        @include title($menu...);
        color: $white;
        padding: 18px 0;
        // font-size: 14px;
        // line-height: 0px;
        display:inline-block;

        &.entry-date {
            width: 100%;
            padding-bottom: 4px;

            @include mobile {
                text-align: left;
            }
            @include tablet {
                // padding-bottom: 18px;
            }
        }

        &.entry-data {
            // float: left;
            // text-align: center;
            width: 100%;
            padding-top: 4px;

            @include mobile {
                text-align: left;
            }
            @include tablet {
                padding-top: 18px;
                float: right;
                text-align: right;
            }

            a {
                color: $near-white;
            }
            a:hover {
                color: $light-grey;
            }
        }

    }
}


/* ARTICLE BLOCK STYLES */
article {
    // @include padding(em(60px) null );
    padding-bottom: em(60px);

    .content {
        padding-top: 30px;
    }

    & p, h2 {

    }

    & h2 {
        @include title($entry-title...);
        padding-bottom: 12px;
        text-align: left;
    }

    .article-bottom {
        p.footnote {
            @extend %footnote;

            &:before {
                @include size(100% 1px);

                @include desktop {
                    @include size(30% 1px);
                }

                @include margin(15px null 12px null);
                display: block;
                content: "";
                background-color: $very-light-grey;
            }
        }
    }
}

/* QUOTATIONS */
.quote {

    @include margin(em(40px) em(20px));

    @include mobile {
        @include margin(em(40px) 0 em(40px) em(72px));
    }
    @include desktop {
        @include margin(em(40px) em(80px));
    }

    // Simple quote
    q {
        @include quote;

        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
    }

    // Important quote - with Big ''
    &.important {

        @include margin(em(90px) em(20px) em(70px) em(20px)); //Plus q:before height

        @include mobile {
            @include margin(em(50px) 0 em(70px) em(72px));
        }
        @include desktop {
            @include margin(em(50px) em(80px) em(70px) em(140px));
        }

        & q:before {
            content: "\e906";
            position: absolute;
            color: $red;

            font: {
                family: $sgr-icons;
                size: 3em;
                weight: $regular;
                style: normal;
            }

            // line-height: 135px;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            left: 50%;
            margin-left: -40px;
            margin-top: -80px;

            @include mobile {
                left: initial;
                line-height: 60px;
                // padding-right: 10px;
                @include margin(0px null 0px -70px);
            }
        }

        .author {
            @extend %footnote;
            float: right;
            margin-top: 10px;
        }
    }

    & q:after {
        content: "''";
    }
}

/* TITLE SECTION */
.title-section {

    @include size(auto 160px);
    @include padding(56px null);
    border-bottom: 1px solid $very-light-grey;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: $grey;
        -ms-word-break: break-word;
        word-break: break-word;
        font-size: em(44px);
        @include mobile {
            font-size: em(54px);
        }
        margin: 0px;

        // text-align: left;
    }
}

/* ENTRIES BLOCK */
section#entries {
    padding-bottom: em(60px);
}

.block-entry {
    padding: 20px;

    .title-entries {
        @include size(null 80px);
        @include padding(null 0px);

        @include mobile {
            @include size(null 120px);
        }
        @include desktop {
            @include padding(null 20px);
        }

        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0px;
            color: $grey;
            font-size: em(36px);
            -ms-word-break: break-word;
            word-break: break-word;
            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;

            @include tablet {
                font-size: em(42px);
            }
        }

    }
    h4 {
        margin-top: 0px;
        color: $light-grey;

        &.btn {
            text-align: left;
            margin-top: 16px;
        }
        a {
        }
    }
}

.entries-nav {

    a {
        color: $very-light-grey;

        &:hover {
            color: $red;
        }
    }

    .prev {
        display: none;
        height: 100px;
        width: 50px;
        cursor: pointer;
        position: absolute;
        left: 5%;
        margin-top: 160px;

        @include tablet {
            display: block;
        }


        &:before {
            display: block;
            font-family: 'sebastiangonzalez';
            content: "\e902";
            font-size: 80px;
            text-align: center;
            line-height: 100px;
            margin-left: -14px;
            margin-top: -2px;
        }
    }
    .next {
        display: none;
        height: 100px;
        width: 50px;
        cursor: pointer;
        position: absolute;
        right: 5%;
        margin-top: 160px;

        @include tablet {
            display: block;
        }

        &:before {
            display: block;
            font-family: 'sebastiangonzalez';
            content: "\e903";
            font-size: 80px;
            text-align: center;
            line-height: 100px;
            margin-left: -14px;
            margin-top: -2px;
        }
    }
}

/*BLOG IMAGES*/
.image {

    padding: 20px 0;
    @include margin(null -1.563em);

    @include mobile {
        @include margin(null -2.875em);
    }
    @include tablet {
        @include margin(null -6.875em);
    }
    @include desktop {
        margin-left: -5.625em;
        margin-right: 0;
    }

    img {

    }

    & p.footnote {
        @extend %footnote;
        padding-top: 8px;
        margin-left: 25px;
        margin-top: 0px;

        @include mobile {
            margin-left: 30px;
        }
        @include desktop {
            margin-left: 0;
        }
    }

}

/* SUSCRIBE BLOCK */
section#suscribe {
    background-color: $dark-grey;

    form#suscribe-form {
        @include padding(62px 0);

        @include smallmobile {
            @include padding(62px 62px);
        }

        @include desktop {
            @include padding(62px 110px);
        }


        h2 {
            @include title($suscribe-title...);
            text-align: center;
        }
        p {
            @extend %footnote;
            text-align: center;
            padding-top: 10px;
        }

        input {
            max-width: 100%;
        }
        button {
            max-width: 100%;
        }
    }
}


/* COMMENTS BLOCK */
section#comments {
    padding-bottom: em(60px);
}

.comments-block {
    .comment {
        @include padding(20px null 40px null);
        border-bottom: 1px solid $very-light-grey;

        .comment-head {
            float: left;
            width: 100%;
            margin-bottom: 20px;

            .comment-user {
                float: left;

                span {
                    float: left;
                    clear: left;
                    &.user-name {
                        @include title($user-name...);
                        text-align: left;
                    }
                    &.user-date {
                        @include title($comment-date...);
                        text-align: left;
                    }
                }
            }
        }
        .comment-like {
            display: block;
            @include size(28px 56px);
            // background-color: $red;
            float: right;
            padding: 5px;
            // margin-top: 10px;

            .icon-heart, .icon-arrow-up, .icon-arrow-down {
                color: $very-light-grey;
                font-size: em(18px);
                line-height: 1em;
                -webkit-transition: 600ms;
                -o-transition: 600ms;
                transition: 600ms;

                &:hover {
                    color: $red;
                }
            }

        }

        p {
            font-family: $proxima_nova_light;
            color: $grey;
            text-align: left;
        }


        h4 {
            margin-top: 0px;
            color: $light-grey;

            &.btn {
                text-align: left;
                margin-top: 16px;
                margin-bottom: 0px;
            }
        }
    }
}

.comments-form-block {
    h2 {
        padding-top: 25px;
        text-align: left;
        // font-size: em(32px);
        color: $grey;
    }

}


/* FOOTER */
footer {

    background-color: $dark-grey;

    .footer {
        // @include size(null 300px);
    }

    p.footerInfo {
        @extend %footnote;
        color: $grey;
        text-align: center;

        padding-top: 50px;
        padding-bottom: 35px;
    }

    .preFooter {

        @include size(null auto);

        @include mobile {
            @include size(null 200px);
        }

        ul {
            @include center;
            padding-top: 62px;

            li {
                @include title($menu...);


                letter-spacing: $spacing;
                text-align: center;
                float: none;
                padding-right: 0;
                padding-bottom: 46px;

                @include mobile {
                    float: left;
                    padding-right: 40px;
                    padding-bottom: 0;
                }
                @include tablet {
                    padding-right: 80px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                a {
                    color: $near-white;
                    padding: 20px;
                }
                a:hover {
                    color: $light-grey;
                }
            }
        }
    }

    .footer-logo {
        @include size(120px);
        // font-size: em(120px);
        // color: $light-grey;
        @include center;
        transition: 600ms;

        &:hover {
            -webkit-opacity: 0.75;
            -moz-opacity: 0.75;
            -ms-opacity: 0.75;
            -o-opacity: 0.75;
            opacity: 0.75;

        }
    }
}




/* ICON FONT */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'sebastiangonzalez';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
    content: "\e906";
}
.icon-chevron-left:before {
    content: "\e902";
}
.icon-chevron-right:before {
    content: "\e903";
}
.icon-chevron-up:before {
    content: "\e904";
}
.icon-chevron-down:before {
    content: "\e905";
}
.icon-logo-line:before {
    content: "\e900";
}
.icon-logo-fill:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e002";
}
.icon-lock:before {
    content: "\e007";
}
.icon-unlock:before {
    content: "\e008";
}
.icon-image:before {
    content: "\e010";
}
.icon-clock:before {
    content: "\e014";
}
.icon-camera:before {
    content: "\e017";
}
.icon-server:before {
    content: "\e022";
}
.icon-cog:before {
    content: "\e023";
}
.icon-heart:before {
    content: "\e024";
}
.icon-search:before {
    content: "\e036";
}
.icon-zoom-in:before {
    content: "\e037";
}
.icon-zoom-out:before {
    content: "\e038";
}
.icon-location:before {
    content: "\e070";
}
.icon-location-2:before {
    content: "\e071";
}
.icon-map:before {
    content: "\e072";
}
.icon-head:before {
    content: "\e074";
}
.icon-speech-bubble:before {
    content: "\e076";
}
.icon-star:before {
    content: "\e093";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-arrow-up:before {
    content: "\e096";
}
.icon-arrow-down:before {
    content: "\e097";
}
.icon-trash:before {
    content: "\e109";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-check:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}
.icon-menu:before {
    content: "\e120";
}








/* MENU MOBILE */


#bt-menu-mobile {
    @include size(40px 30px);
    outline: none;
    cursor: pointer;
    border: none;
    background: none;

    float: right;
    margin: 25px 20px 0 0;
    position: relative;
    display: block;

    @include mobile {
        display: none;
    }

    span {
        @include size(100% 2px);
        position: absolute;
        background-color: $near-white;
        display: block;

        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &.top {
            top: 0;
        }
        &.middle {
            top: 50%;
            margin-top: -2px;
        }
        &.bottom {
            top: 100%;
            margin-top: -2px;
        }
    }

    &.close-bt-hamburguer .middle {
        opacity: 0;
    }
    &.close-bt-hamburguer span.top {
        margin: -2px 0 0 -3px;
        top: 50%;
        width: 80%;
        margin-left: -11px;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
    &.close-bt-hamburguer span.bottom {
        margin: -2px 0 0 -3px;
        top: 50%;
        width: 80%;
        margin-left: 11px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

}

#wrapper-menu-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: green;
}

.overlay-mobile {
    position: fixed;
    min-width: 100%;
    height: 100%;
    background-color: $dark-grey;
    display: none;
    z-index: 99;
    padding: 10%;
}

.wrapper-container {
    display: table;
    width: 100%;
    height: 100%;
}

#wrapper-mobile {
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

ul#wrapper-mobile li {
    font-size: 1.8em;
    text-transform: uppercase;
    // padding-bottom: 1em;
    font-family: $proxima-nova-light;
    letter-spacing: 0.05em;
    padding: 20px 0;

    &:last-child {
        padding-bottom: 0;
    }
    a {
        color: $near-white;
        -webkit-transition: color 400ms;
        transition: color 400ms;

        &:hover {
            color: $light-grey;
        }
    }

    span {
        font-size: 2em;
        color: #23BEE8;
    }

}