@import "bourbon/bourbon";
@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

// Fuentes
 @font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/Proxima-Nova-Semibold.eot');
    src: url('../fonts/Proxima-Nova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Semibold.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold.woff') format('woff'),
         url('../fonts/Proxima-Nova-Semibold.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/Proxima-Nova-Light.eot');
    src: url('../fonts/Proxima-Nova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Light.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Light.woff') format('woff'),
         url('../fonts/Proxima-Nova-Light.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Light.svg#proxima_nova_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    @include body-reset;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }

*, *:after, *:before {
    @include reset;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a, a > * {
    @include reset;
    @include speed-normal;
    outline: none;
    text-decoration: none;
    background: transparent;
    vertical-align: baseline;
    color: $red;
    &:hover {
        color: $light-grey;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

ul { list-style: none outside; }

ol { list-style-position: inside; }


img {
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.no-padding-r {
    padding-right: 1rem;

    @include mobile {
        padding-right: 0px;
    }
}

// .no-padding-l {
//     padding-left: 0px;
// }

// @include small-mobile {
//     .no-padding-r, .no-padding-l {
//         padding-left: 0px;
//         padding-right: 0px;
//     }
// }


/* -------------------------------------------------- */
/*  2 - BODY BASIC
/* -------------------------------------------------- */

html {
    height: 100%;
}

body {
    background-color: $white;
    color: $dark-grey;
    font: {
        family: $noto-serif;
        size: $body-size;
        weight: $regular;
    }
    line-height: $body-line;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

::-webkit-selection {
    background-color: $light-red;
    color: $white;
    text-shadow: none;
}

::selection {
    background-color: $light-red;
    color: $white;
    text-shadow: none;
}










// * {
//     background: rgba(150,150,150,0.2) !important;
// }


html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}




.wrap {
    box-sizing: border-box;
    max-width: $desktop-width;
    margin: 0 auto;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    // padding-right: 1.563em;
    // padding-left: 1.563em;
    @include padding(null $small-margin);

    @include mobile {
        @include padding(null $mobile-margin);
    }
    @include tablet {
        @include padding(null $tablet-margin);
    }
    @include desktop {
        @include padding(null $desktop-margin);
    }

    // @include small-mobile {
    //     @include padding(null 2.875em);
    // }
    // @include mobile {
    //     @include padding(null 6.875em);
    // }
    // @include tablet {
    //     @include padding(null 5.625em);
    // }


}



/* -------------------------------------------------- */
/*  2.4 - FORMS
/* -------------------------------------------------- */

@import "formhack.scss";



/* -------------------------------------------------- */
/*  2.5 - CONTENT BLOG
/* -------------------------------------------------- */

/* FOOTNOTE STYLES GENERATOR */
%footnote {
    color: $light-grey;
    font: {
        size: em(12px);
        family: $proxima-nova-light;
        weight: $light;
    }
    line-height: $golden;
    letter-spacing: $spacing;
}

/* ARTICLE BLOCK STYLES */
article {
    @include padding(60px null );

    & p, h2 {

    }

    & h2 {
        @include title($entry-title...);
        padding-bottom: 12px;
        text-align: left;
    }

    .article-bottom {
        p.footnote {
            @extend %footnote;

            &:before {
                @include size(100% 1px);

                @include desktop {
                    @include size(30% 1px);
                }

                @include margin(15px null 12px null);
                display: block;
                content: "";
                background-color: $very-light-grey;
            }
        }
    }
}

/* QUOTATIONS */
.quote {

    @include margin(40px 20px);

    @include mobile {
        @include margin(40px 0 40px 72px);
    }
    @include desktop {
        @include margin(40px 80px);
    }

    // Simple quote
    q {
        @include quote;

        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
    }

    // Important quote - with Big ''
    &.important {

        @include margin(90px 20px 70px 20px); //Plus q:before height

        @include mobile {
            @include margin(50px 0 70px 72px);
        }
        @include desktop {
            @include margin(50px 80px 70px 140px);
        }

        & q:before {
            content: "''";
            position: absolute;
            color: $red;

            font: {
                family: $noto-serif;
                size: em(110px);
                weight: $regular;
                style: italic;
            }

            line-height: 135px;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            left: 50%;
            margin-left: -40px;
            margin-top: -80px;

            @include mobile {
                left: initial;
                line-height: 80px;
                padding-right: 10px;
                @include margin(10px null -1px -75px);
            }
        }

        .author {
            @extend %footnote;
            float: right;
        }
    }

    & q:after {
        content: "''";
    }
}

/* TITLE SECTION */
.title-section {

    @include size(auto 100px);
    border-bottom: 2px solid $very-light-grey;
    padding-top: 20px;
    margin-bottom: 20px;

    h2 {
        color: $grey;
        text-align: left;
    }
}

/*BLOG IMAGES*/
.image {

    padding: 20px 0;
    @include margin(null -1.563em);

    @include mobile {
        @include margin(null -2.875em);
    }
    @include tablet {
        @include margin(null -6.875em);
    }
    @include desktop {
        margin-left: -5.625em;
        margin-right: 0;
    }

    img {

    }

    & p.footnote {
        @extend %footnote;
        padding-top: 8px;
        margin-left: 25px;

        @include mobile {
            margin-left: 30px;
        }
        @include desktop {
            margin-left: 0;
        }

    }
}

/* SUSCRIBE BLOCK */
section#suscribe {
    background-color: $dark-grey;

    form#suscribe-form {
        @include padding(62px 0);

        @include smallmobile {
            @include padding(62px 62px);
        }

        @include desktop {
            @include padding(62px 110px);
        }


        h2 {
            @include title($suscribe-title...);
            text-align: center;
        }
        p {
            @extend %footnote;
            text-align: center;
            padding-top: 10px;
        }

        input {
            max-width: 100%;
        }
        button {
            max-width: 100%;
        }
    }
}


/* COMMENTS BLOCK */
section#comments {

}


/* FOOTER */
footer {

    background-color: $dark-grey;

    .footer {
        // @include size(null 300px);
    }

    p.footerInfo {
        color: $grey;
        font: {
            size: em(12px);
            family: $proxima_nova_light;
        }
        text-align: center;
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .preFooter {

        @include size(null auto);

        @include mobile {
            @include size(null 200px);
        }

        ul {
            @include center;
            padding-top: 62px;

            li {
                color: $near-white;
                font : {
                    family: $proxima_nova_light;
                    size: em(16px);
                    weight: $light;
                }
                line-height: $golden;
                text-transform: uppercase;
                letter-spacing: $spacing;
                text-align: center;
                float: none;
                padding-right: 0;
                padding-bottom: 46px;

                @include mobile {
                    float: left;
                    padding-right: 40px;
                    padding-bottom: 0;
                }
                @include tablet {
                    padding-right: 80px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                a {
                    color: $near-white;
                    padding: 20px;
                }
                a:hover {
                    color: $light-grey;
                }
            }
        }
    }

    .logoFooter {
        @include size(120px);
        font-size: em(120px);
        color: $light-grey;
        @include center;
    }
    .logoFooter:hover {
        color: #FFFFFF;
    }
}