// Fuentes
 @font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/Proxima-Nova-Semibold.eot');
    src: url('../fonts/Proxima-Nova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Semibold.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold.woff') format('woff'),
         url('../fonts/Proxima-Nova-Semibold.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/Proxima-Nova-Light.eot');
    src: url('../fonts/Proxima-Nova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Light.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Light.woff') format('woff'),
         url('../fonts/Proxima-Nova-Light.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Light.svg#proxima_nova_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


// TITLES AND PARAGRAPHS
// Tipography
$proxima-nova-sb: 'proxima_nova_semibold';
$proxima-nova-light: 'proxima_nova_light';
$roboto: 'Roboto';

// Weights
$light: 300;
$regular: 400;
$bold: 700;

// Colores
$black: #000000;
$white: #ffffff;

$dark-grey: #2d2d2d;
$grey: #464646;
$light-grey: #a0a0a0;
$near-white: #f5f5f5;
$red: #d8444b;
$light-red: #e7595b;
$alt-red: #F46969;


// ATRIBUTES
// Color classes
.black { color: $black; }
.black-bg { background-color: $black; }
.white { color: $white; }
.white-bg { background-color: $white; }
.dark-grey { color: $dark-grey; }
.dark-grey-bg { background-color: $dark-grey; }
.grey { color: $grey; }
.grey-bg { background-color: $grey; }
.light-grey { color: $light-grey; }
.light-grey-bg { background-color: $light-grey; }
.near-white { color: $near-white; }
.near-white-bg { background-color: $near-white; }
.red { color: $red; }
.red-bg { background-color: $red; }
.light-red { color: $light-red; }
.light-red-bg { background-color: $light-red; }


// MIXINS

@mixin slow-speed {
    transition: 800ms;
}

@mixin normal-speed {
    transition: 400ms;
}

@mixin fast-speed {
    transition: 200ms;
}

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin reset {
    margin: 0;
    padding: 0;
}




/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */
/*Disable Mobile Webkit Highlights*/
body {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }

*, *:after, *:before {
    @include reset;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a, a > * {
    @include reset;
    outline: none;
    text-decoration: none;
    background: transparent;
    vertical-align: baseline;
    color: $red;
    &:hover {
        color: $light-grey;
    }
}

// TODO: mirar esto
// nav ul, nav ol {
//     list-style: none;
//     list-style-image: none;
// }

// ul { list-style: none outside; }

// ol { list-style-position: inside; }

// .not-ie a {
//   -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
//           transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
// }

// img {
//     border: 0;
//     height: auto;
//     max-width: 100%;
//     -ms-interpolation-mode: bicubic;
// }






/* BODY  BASIC */

html {
    height: 100%;
}

body {
    background-color: $white;
    p {
        color: $dark-grey;
        font-weight: $regular;
        font-size: 1em;

    }

    // a {
    //     // @include slow-speed;
    //     color: $red;
    //     text-decoration: none;
    // }

    // a:hover {
    //     color: $alt-red;
    // }


    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}


/* -------------------------------------------------- */
/*  2.1 - TYPOGRAPHY
/* -------------------------------------------------- */

// Textos
/* FONTS */
h1, h2, h3, h4, h5, h6 {
    font: {
        family: $proxima_nova_sb;
    }
    text-transform: uppercase;
}

// TODO: mirar tamaños y hacerlos automatizados con porcentajes em
// h1 { font-size: 60px; }
// h2 { font-size: 45px; }
// h3 { font-size: 32px; }
// h4 { font-size: 26px; }
// h5 { font-size: 18px; }
// h6 { font-size: 14px; }

p {
    font: {
        family: $roboto;
    }
    &.light {
        font-weight: $light;
    }
    &.regular {
        font-weight: $regular;
    }
    &.bold {
        font-weight: $bold;
    }
}



/* -------------------------------------------------- */
/*  2.1 - CLEARFIX
/* -------------------------------------------------- */
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}



/* -------------------------------------------------- */
/*  2.2 - GENERAL
/* -------------------------------------------------- */

.align-center { text-align: center; }
.align-left   { text-align: left;   }
.align-right  { text-align: right;  }
.alignleft  { float: left;  }
.alignright { float: right; }

img.alignleft { margin-right: 20px; }
img.alignright { margin-left: 20px; }

.aligncenter {
    @include center;
}

.hide       { display: none;  }
.show       { display: block; }
.invisible  { visibility: hidden; }
.affix      { position: fixed; }



@mixin div-size ($width, $height : $width){
    width: $width;
    height: $height;
}

.box {
    @include div-size(100px,100px);
    float: left;
    position: relative;
    background-color: #550000;
    margin-right: 20px;

    &.dark-grey {
        background-color: $dark-grey;
    }
    &.grey {
        background-color: $grey;
    }
    &.light-grey {
        background-color: $light-grey;
    }
    &.near-white {
        background-color: $near-white;
    }
    &.red {
        background-color: $red;
    }
    &.light-red {
        background-color: $light-red;
    }
}

.big-box {
    @include div-size(400px, 100px);
    @include center;
}

