@import "bourbon/bourbon";
@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";


$body-size: em(18px);

// Fuentes
 @font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/Proxima-Nova-Semibold.eot');
    src: url('../fonts/Proxima-Nova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Semibold.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Semibold.woff') format('woff'),
         url('../fonts/Proxima-Nova-Semibold.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Semibold.svg#proxima_nova_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/Proxima-Nova-Light.eot');
    src: url('../fonts/Proxima-Nova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima-Nova-Light.woff2') format('woff2'),
         url('../fonts/Proxima-Nova-Light.woff') format('woff'),
         url('../fonts/Proxima-Nova-Light.ttf') format('truetype'),
         url('../fonts/Proxima-Nova-Light.svg#proxima_nova_light') format('svg');
    font-weight: normal;
    font-style: normal;

}



// ATRIBUTES
// Color classes
.black { color: $black; }
.black-bg { background-color: $black; }
.white { color: $white; }
.white-bg { background-color: $white; }
.dark-grey { color: $dark-grey; }
.dark-grey-bg { background-color: $dark-grey; }
.grey { color: $grey; }
.grey-bg { background-color: $grey; }
.light-grey { color: $light-grey; }
.light-grey-bg { background-color: $light-grey; }
.near-white { color: $near-white; }
.near-white-bg { background-color: $near-white; }
.red { color: $red; }
.red-bg { background-color: $red; }
.light-red { color: $light-red; }
.light-red-bg { background-color: $light-red; }




/* -------------------------------------------------- */
/*  1 - RESET
/* -------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    @include body-reset;
}


/*Disable Mobile Webkit Highlights*/
body {
    // -webkit-touch-callout: none;
    // -khtml-user-select: none;
    // user-select: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }

*, *:after, *:before {
    @include reset;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a, a > * {
    @include reset;
    @include speed-normal;
    outline: none;
    text-decoration: none;
    background: transparent;
    vertical-align: baseline;
    color: $red;
    &:hover {
        color: $light-grey;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

ul { list-style: none outside; }

ol { list-style-position: inside; }

// .not-ie a {
//   -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
//           transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
// }

// img {
//     border: 0;
//     height: auto;
//     max-width: 100%;
//     -ms-interpolation-mode: bicubic;
// }


img {
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}





/* -------------------------------------------------- */
/*  2 - BODY BASIC
/* -------------------------------------------------- */

html {
    height: 100%;
}

body {
    background-color: $white;
    color: $dark-grey;
    font: {
        family: $noto-serif;
        size: $body-size;
        weight: $regular;
    }
    line-height: $body-line;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

::-webkit-selection {
    background-color: $light-red;
    color: $white;
    text-shadow: none;
}

::selection {
    background-color: $light-red;
    color: $white;
    text-shadow: none;
}



/* -------------------------------------------------- */
/*  2.1 - CLEARFIX
/* -------------------------------------------------- */

.clear {
    @include clearfix;
    overflow: hidden;
    width: 0;
}

.clearfix:after {
    @include clearfix;
    content: ".";
}


/* -------------------------------------------------- */
/*  2.2 - GENERAL
/* -------------------------------------------------- */

.align-center { text-align: center; }
.align-left   { text-align: left;   }
.align-right  { text-align: right;  }
.alignleft  { float: left;  }
.alignright { float: right; }

img.alignleft { margin-right: 20px; }
img.alignright { margin-left: 20px; }

.aligncenter {
    @include center;
}

.hide       { display: none;  }
.show       { display: block; }
.invisible  { visibility: hidden; }
.affix      { position: fixed; }


/* -------------------------------------------------- */
/*  2.3 - TYPOGRAPHY
/* -------------------------------------------------- */

/* FONTS */
h1, h2, h3, h4, h5, h6 {

    font: {
        family: $proxima_nova_sb;
    }
    // text-transform: uppercase;
}

h1 {
    @include title($blog-title...);
    text-align: center;
}

// TODO: mirar tamaños y hacerlos automatizados con porcentajes em
// h1 { font-size: 60px; }
// h2 { font-size: 45px; }
// h3 { font-size: 32px; }
// h4 { font-size: 26px; }
// h5 { font-size: 18px; }
// h6 { font-size: 14px; }

p {
    font: {
        family: $noto-serif;
        size: $body-size;
    }

      // @include tablet {
      //   font-size: 40px;
      // }

      // @include desktop {
      //   font-size: 60px;
      // }

    text-align: justify;
    line-height: $golden;

    &.light {
        font-weight: $light;
    }
    &.regular {
        font-weight: $regular;
    }
    &.bold {
        font-weight: $bold;
    }

    &.dropcap::first-letter {
        float: left;
        font: {
            // size: 5em;
            size: em(90px,18px);
        }

        line-height: 80px;
        color: $red;
        padding-right: 10px;
        margin-top: 5px;
    }

}



/* -------------------------------------------------- */
/*  2.4 - FORMS
/* -------------------------------------------------- */

@import "formhack.scss";


/* -------------------------------------------------- */
/*  2.5 - CONTENT BLOG
/* -------------------------------------------------- */

/* FOOTNOTE STYLES GENERATOR */
%footnote {
    color: $light-grey;
    font: {
        size: em(12px);
        family: $proxima-nova-light;
        weight: $light;
    }
    line-height: $golden;
    letter-spacing: $spacing;
}


/* QUOTATIONS */
.quote {

    @include margin(40px 170px);

    // Simple quote
    q {
        @include quote;

        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
    }

    // Important quote - with Big ''
    &.important {
        @include margin(50px 170px 70px 238px);

        & q:before {
            content: "''";
            position: absolute;
            color: $red;

            font: {
                family: $noto-serif;
                size: em(110px);
                weight: $regular;
                style: italic;
            }

            line-height: 80px;
            padding-right: 10px;
            @include margin(10px null -1px -75px);
        }

        .author {
            @extend %footnote;
            float: right;
        }
    }

    & q:after {
        content: "''";
    }
}


/* ARTICLE BLOCK STYLES */
article {

    @include margin(60px null);

    & p, h2 {
        @include margin(null 70px);
    }

    & h2 {
        @include title($entry-title...);
        padding-bottom: 12px;
    }

    // Article bottom credits
    .article-bottom {
        p.footnote {
            @extend %footnote;

            &:before {
                @include size(300px 1px);
                @include margin(15px null 12px null);
                display: block;
                content: "";
                background-color: $light-grey;
            }
        }
    }

}


/*BLOG IMAGES*/
.image {
    @include padding(20px 0);
    // For mobile!!!
    // @include margin(null -30px null -20px);
    margin: 0px;

    img {
        padding-right: 70px;

        @include mobile {
            padding-right: 0px;
            border: 0;
            height: auto;
            max-width: 100%;
            -ms-interpolation-mode: bicubic;
        }

        @include tablet {
            padding-right: 0px;
            border: 0;
            height: auto;
            max-width: 100%;
            -ms-interpolation-mode: bicubic;
            // @include padding(65px 60px);
        }
    }

    & p.footnote {
        @extend %footnote;
        padding-top: 8px;
        margin: 0px;
    }
}



// .grid {
//         padding-left: 20px;
//         padding-right: 10px;
//         @include mobile {
//             width: 100%;
//             min-width: 0;
//             margin-left: 0px;
//             margin-right: 0px;
//         }

//     }





/* SUSCRIBE BLOCK */
section#suscribe {
    background-color: $dark-grey;

    form#suscribe-form {
        @include padding(65px 170px);

        @include mobile {
            @include padding(65px 20px);
        }

        @include tablet {
            @include padding(65px 60px);
        }


        h2 {
            @include title($suscribe-title...);
            text-align: center;
        }
        p {
            @extend %footnote;
            text-align: center;
            padding-top: 10px;
        }

        input {
            max-width: 100%;
        }
        button {
            max-width: 100%;
        }
    }
}



/* FOOTER */
footer {

    background-color: $dark-grey;

    .footer {
        // height: 400px;
        @include size(null 300px);
        // @include padding(140px 80px);
    }

    p.footerInfo {
        color: $grey;
        font: {
            size: em(12px);
            family: $proxima_nova_light;
        }
        text-align: center;
    }

    .preFooter {
        @include size(null 200px);
        // background-color: $grey;

        ul {
            @include center;
            padding-top: 85px;
            li {
                color: $near-white;

                font : {
                    family: $proxima_nova_light;
                    size: em(16px);
                    weight: $light;
                }

                line-height: $golden;
                text-transform: uppercase;
                letter-spacing: $spacing;
                float: left;

                padding-right: 80px;
                &:last-child {
                    padding-right: 0px;
                }

                a {
                    color: $near-white;
                }
                a:hover {
                    color: $light-grey;
                }
            }
        }
    }

    .logoFooter {
        @include size(120px);
        font-size: em(120px);
        color: $light-grey;
        @include center;
        margin-bottom: 50px;
    }

    .logoFooter:hover {
        color: #FFFFFF;
    }

}

// .footer {
//     height: 400px;
//     padding: 140px 80px;
// }

// p.footerInfo {
//     color: #464646;
//     text-align: center;
//     font-size: 14px;
//     padding-top: 85px;
// }

// .preFooter {
//     height: 200px;
//     background-color: #464646;
// }








@mixin div-size ($width, $height : $width){
    width: $width;
    height: $height;
}

.box {
    @include div-size(100px,100px);
    float: left;
    position: relative;
    background-color: #550000;
    margin-right: 20px;

    &.dark-grey {
        background-color: $dark-grey;
    }
    &.grey {
        background-color: $grey;
    }
    &.light-grey {
        background-color: $light-grey;
    }
    &.near-white {
        background-color: $near-white;
    }
    &.red {
        background-color: $red;
    }
    &.light-red {
        background-color: $light-red;
    }
}

.big-box {
    @include div-size(400px, 100px);
    @include center;
}

